.card {
    position: relative;
}

.card img {
    display: inline-flex;
    border: 2px solid white;
    border-radius: 6px;
    width: 100%;
    margin: 0;
}
@media screen and (max-width: 767px) {
    .card img{
        width: 50%;
    }
    }



/* front of card- the picture */

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.1s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.1s;
}

/* back of card - cover */

.card .back {
    transition: all ease-in 0.1s;
    transition-delay: 0.1s;;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}