.App {
  margin : 5vh auto;
  font-size: 3vw;
}

button {
  background: none;
  border: 2px solid white;
  padding: 3px 6px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.8em;
}

button:hover {
  background: darkslategray;
  color: white;
}

.card-grid {
  display: grid;
  grid-gap: 10px;
  margin: 0 5vw 0 5vw;
}

@media screen and (min-width:1024px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width:768px) and (max-width: 1023px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}